<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="vue.js"></script>
    <title>Tarot A Day - VueJS mini project</title>
</head>

<body>
    <div id="app">

        <div class="container text-center">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link " href="./index.html">Pick a card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./search.html">Search a card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./list.html">Browse cards</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./spread.html">12 Card Spread</a>
                </li>
            </ul>

            <h1 class="display-1">Tarot A Day</h1>
            <div class="container">
                <div class="row">
                    <div class="footer">
                        <p>&copy 2020 Tarot A Day - Made by <a href="https://github.com/adrianlimws"
                                target="blank">Adrian Matsumoto</a> </p>
                    </div>
                </div>
            </div>
            <p class="lead alert alert-light">"Search for the meaning of a card"</p>

            <input class="form-control form-control-lg" type="text" 
            v-model="search" placeholder="Search a card.." aria-label=".form-control-lg example">



            <transition name="fade">
                <div id="onecardreading" v-if="search !== ''" v-for="card in filteredCards">
                    <hr>
                    <div class="row">
                        <h1>~ {{ card.name }} ~</h2>
                            <hr>
                            <div class="col">
                                <strong>~ Suite ~</strong>
                                <br>
                                <h5>{{ card.suite }}</h5>
                            </div>
                            <div class="col">
                                <strong>~ Keywords ~</strong>
                                <br>
                                <h5>
                                    {{ card.uprightKeywords }}
                                </h5>
                            </div>
                            <hr>
                            <div class="col-sm-4">
                                <img :src="card.image" class="card-img-top" :alt="card.name"
                                    style="width: 10rem">
                            </div>
                            <div class="col-sm-8">
                                <blockquote class="blockquote">{{ card.description }}</blockquote>
                            </div>

                            <div class="card text-center reading">
                                <div class="card-body">
                                    <p class="card-text">
                                    <h2>~ Meaning ~</h2>
                                    {{ card.upright }}
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </transition>

        </div>
    </div>

    <script src="main.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

<style scoped>
    @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

    html,
    body,
    p {
        font-family: 'Crimson Text', serif;
        font-size: 20px;
    }

    .btn-custom {
        color: #efefef;
        background-color: #543f3f;
        border-color: #37678b;
    }

    .btn:hover {
        color: #efefef;
        background-color: #4c2f2f;
    }

    .card {
        border: none;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
</style>

</html>